*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(30);
}
